/*header .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 35% auto -4% auto;
}*/

.btn-battle{
    background-color: #4BCAA4;
    color:white;
    border-radius: none;
    margin: 0 auto;
  }

  body{
    box-sizing: border-box;
  }

/**/

.image{
  background-color: white;
  border:3px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.8;
}
.selected{
  border: 3px solid #4BCAA4;
  opacity: 1;
  box-sizing: border-box;
}

.add{
  background: transparent;
  border-radius: 20px;
  border: 2px solid #4BCAA4;
  padding: 5px;
}

a{
  color: #4BCAA4;
}